/* PARTE FIXA DO SITE */

body {
    background-image: url('img/fundo.jpg');
    background-size: 1540px 700px;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.caixa-central {
    margin: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
     text-align: center;
}

.logo {
    width: 250px !important;
    height: auto !important;
    max-width: none;
    display: block;
    margin-bottom: 15px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffde59;
    padding: 20px;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.botao {
    background-color: #f38410;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #d74c0b;
}

.botao-ativo {
  background-color: #d74c0b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}

/* ========================== */
   
/*CONFIGURAÇÃO DESSA PÁGINA*/

.equipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}
    
.membro {
    width: 220px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.membro:hover {
    transform: scale(1.05);
}

.membro img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.funcao {
    font-weight: bold;
    color: #333;
}

