/* PARTE FIXA DO SITE */

body {
    background-image: url('img/fundo.jpg');
    background-size: 1540px 700px;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.caixa-central {
    margin: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logo {
    width: 250px !important;
    height: auto !important;
    max-width: none;
    display: block;
    margin-bottom: 15px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffde59;
    padding: 20px;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.botao {
    background-color: #f38410;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #d74c0b;
}

.botao-ativo {
  background-color: #d74c0b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}

/* ========================== */
   
/*CONFIGURAÇÃO DESSA PÁGINA*/

.conteudo {
    text-align: center;
    padding: 20px;
}

.descricao p {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    text-align: justify;
}

.descricao h1,
.cursos h2 {
    color: #f38410;
    margin-bottom: 20px;
}